/* navone style start */
#sub{
    width: 300px;
  }
  #mar{
    padding-left: 60px;
  }
  #drop{
    background-color: #cccccc;
    box-shadow: 2px 2px 5px gray;
  }
  #light{
   background: rgb(248,123,6);
background: linear-gradient(90deg, rgba(248,123,6,1) 25%, rgba(248,135,6,1) 50%, rgba(248,147,6,1) 75%, rgba(249,152,6,1) 100%, rgba(255,67,0,1) 100%);
  }

/* navone style end */